@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@import 'tailwindcss';

@theme {
  --color-chair: #e7e7e7;
  --color-table: #efefef;
  --font-family-logo: 'Reenie Beanie', cursive;
}
