@import 'tailwindcss';

@theme {
  --color-brand-primary: #d1186a;
  --color-background-primary: #fbcfe8;

  --background-image-site: linear-gradient(
    8deg,
    rgba(255, 255, 255, 0) 2.13%,
    rgba(209, 225, 220, 0.5) 62.7%,
    var(--color-background-primary) 127.02%
  );

  --background-image-sidebar: linear-gradient(
    -30deg,
    rgb(255 255 255 / 0) 0%,
    rgb(209 225 220 / 0.5) 70%,
    var(--color-background-primary) 110%
  );
}

@layer components {
  .styles-module_tooltip__mnnfp {
    @apply !p-2;
  }

  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__next2-button {
    @apply hidden;
  }

  .react-calendar__month-view__days {
    @apply max-w-xs;
  }

  .react-calendar__navigation__label {
    @apply pointer-events-none;
  }

  .react-calendar button {
    @apply size-8 cursor-pointer rounded border border-transparent hover:bg-slate-500;
  }

  .react-calendar__month-view__days__day--neighboringMonth {
    @apply opacity-40;
  }

  .react-calendar__tile--now {
    @apply font-semibold text-pink-400;
  }

  .react-calendar .react-calendar__tile--active {
    @apply border-pink-700 font-bold;
  }

  .react-calendar__navigation {
    @apply flex pb-2;
  }

  .react-calendar__navigation__label {
    @apply text-xs;
  }

  .react-calendar__month-view__weekdays__weekday {
    @apply flex justify-center pb-2 text-xs text-zinc-400;
  }

  .react-calendar__month-view__weekdays__weekday abbr {
    @apply no-underline;
  }
}

@layer utilities {
  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
